<div class="col-sm-4 offset-md-1 py-4">
    <h4>Меню</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'mainapp:index' %}" class="text-white">Главная</a></li>
        <li><a href="{% url 'materials:list' %}" class="text-white">Материалы</a></li>
        <li><a href="{% url 'mainapp:contact' %}" class="text-white">Контакты</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
            <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
        {% endif %}

    </ul>
</div>