{% extends 'mainapp/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        материал "{{object|title}}" ({{ object.slug }})
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        {{object.body}}
                    </p>

                </div>
                <div class="card-footer">
                    Просмотров: {{ object.views_count }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}