{% extends 'mainapp/base.html' %}
{% block content %}
<div class="col-12 mb-5" xmlns="http://www.w3.org/1999/html">
    <a class="btn btn outline-primary" href="{% url 'materials:create' %}">Добавить Material</a>
</div>
{% for object in object_list %}
<div class="col">
    <div class="card shadow-sm">

        <div class="card-body">
            <p class="card-text">
                {{object|title}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="p-2 btn btn-outline-secondary" href="{% url 'materials:view' object.pk %}">View</a>
                    <a class="p-2 btn btn-outline-secondary" href="{% url 'materials:edit' object.pk %}">Edit</a>
                    <a class="p-2 btn btn-outline-danger" href="{% url 'materials:delete' object.pk %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}