{% extends 'mainapp/base.html' %}
{% block content %}
<div class="col">
    <div class="card shadow-sm">

        <div class="card-body">
            <p class="card-text">
                Офис МСК<br>
                Офис СПБ
            </p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card shadow-sm">

        <div class="card-body">
            <h2>ДАЙ ЗНАТЬ ГДЕ ТЫ НАХОДИШЬСЯ</h2>
            <form method="post">
                {% csrf_token %}
                <input class="form_control mb-2" name="name">
                <input class="form_control mb-2" name="email">
                <textarea class="form_control mb-2" name="message"></textarea>
                <button type="submit" class="mb-2 btn btn-primary form_control">Отправить</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}